<div class="row" *ngIf="!foto; else mainContent">
    <h1>Loading...</h1>
</div>

<ng-template #mainContent>
    <div class="row">
        <div class="col-md-5">
            <div class="card">
                <img [src]=" 'http://localhost:3000/' + foto.imagePath " class="img-fluid">
            </div>
        </div>
        <div class="col-md-7">
            <div class="card">
                <form class="card-body" (submit)="actualizarFoto(title, description)">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Photo's Title" [value]="foto.title" #title>
                    </div>
                    <div class="form-group">
                        <textarea rows="2" class="form-control" placeholder="Photo's Description" [value]="foto.description" #description></textarea>
                    </div>
                    <button class="btn btn-primary btn-block">
                        Update
                    </button>
                </form>
            </div>
        </div>
    </div>
    <button class="btn btn-danger mt-2" (click)="borrarFoto(foto._id)">
        Delete
    </button>
</ng-template>
